<div data-hook="admin_product_question_form_fields">

  <label>
    <strong><%= Spree::Question.model_name.human %>:</strong><br>
    <p class="row">
        <%= @question.try(:content) %>
    </p>
  </label>

  <%= f.fields_for :answer, @question.answer_for_form do |a| %>
      <% unless @question.answer.content.nil? %>
        <%= link_to '', delete_answer_admin_product_question_path(@product, @question), class: 'delete-resource fa fa-trash icon_link with-tip no-text'%>
      <% end %>
      <%= a.label :content, raw(Spree::Answer.model_name.human) %>
      <%= a.text_area :content, { rows: "4", class: 'fullwidth' } %>
  <% end %>

  <%= f.field_container :is_visible do %>
    <%= f.check_box :is_visible %>
    <%= f.label :is_visible %>
  <% end %>
</div>
